@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(20rem, 50ch) minmax(1em, 3fr);
    justify-items: start;
    background-position: left bottom;

    & > * {
      grid-column: 2 / 3;
    }
  }
}

@media (min-width: 1100px) {
  .main {
    background-position: left center;
  }
}
